{% load staticfiles %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Festival Together</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/agency.css' %}" rel="stylesheet">


</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Festival Together</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'festival' %}">Festival</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'group' %}">Group</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'mypage' %}">Mypage</a>
                </li>

                <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'login' %}">Login</a>
                    </li> 
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="section-heading">
                        더 많은 사용자를 위해 Festival을 등록해 주세요 :)</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Festival List -->
<section class="page-section" id="festival" style ="padding-top  : 40px;">
    <div class="container">
        <form action="" method="post" id="setting" enctype="multipart/form-data">
            {% csrf_token %}
            <div class = "form-group mt-4"style ="padding-bottom  : 40px;">
                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                    <tbody id="dataTableTBody">
                        <tr role="row" class="odd">
                            <th><center>페스티벌 이름</center></th>
                            <td colspan="2"><input class="form-control" name="fes_name" id="fes_name" ></td>
                        </tr>
                        <tr role="row" class="odd">
                            <th><center>페스티벌 기간.</center></th>
                            <td colspan="2"><input class="form-control" name="fes_date" id="fes_date" type="date"></td>
                        </tr>
                        <tr role="row" class="odd">
                            <th><center>페스티벌 장소.</center></th>
                            <td colspan="2"><input class="form-control" name="fes_loca" id="fes_loca" ></td>
                        </tr>
                        <tr role="row" class="odd">
                            <th><center>페스티벌 가격.</center></th>
                            <td colspan="2"><input class="form-control" name="fes_price" id="fes_price" ></td>
                        </tr>
                        <tr role="row" class="odd">
                            <th><center>첨부 사진</center></th>
                            <td colspan="2"><input class="form-control" name="fes_pic" id="fes_pic" type="file" ></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class = "form-group mt-4">
                <div class="form-row">
                    <div class = "col-md-4">
                        <label> </label>
                    </div>
                    <div class = "col-md-2">
                        <center> <input type ="submit" class="btn btn-primary btn-block" name = "createFestival" value="페스티벌 등록"  /> </center>
                    </div>

                    <div class = "col-md-2">
                        <center> <div class="btn btn-danger" name = "cancel" value="취소" onclick="history.back();">취소</div> </center>
                    </div>

                </div>
            </div>
        </form>
    </div>
</section>


<!-- Footer -->
<footer class = "bg-dark">
    <div class="container">
        <div class="row">

            <p class = "text-white">
                Festival Together<br><br>
                대표: 양훈모, 서진원, 이혜린, 박주연<br>
                주소: 서울특별시 중구 동국대학교 신공학관<br>
                Festival Together은 최신 페스티벌 정보를 수집하기 위해 노력하고 있으며 정보 제공에 따른 법적 책임을 지지 않습니다.
            </p>
            <span class="copyright text-white">Copyright &copy; Your Website 2019</span>

        </div>
    </div>
</footer>



<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Contact form JavaScript -->
<script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'js/contact_me.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'js/agency.min.js' %}"></script>

</body>

</html>
