{% load staticfiles %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Festival Together</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="./../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/agency.css' %}" rel="stylesheet">
    <link href="./../static/css/agency.css" rel="stylesheet">

</head>

<body id="page-top">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}">Festival Together</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'festival' %}">Festival</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'group' %}">Group</a>
                </li>
                {% if user.is_superuser %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Manage</a>
                    <div class="dropdown-menu">
                        <a class ="dropdown-item" href="{% url 'createFestival' %}" style = "font-family: sans-serif;">festival register</a>
                        <a class ="dropdown-item" href="{% url 'confirmTicket' %}"  style = "font-family: sans-serif;">group confirm</a>
                    </div>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'mypage' %}">Mypage</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

<!-- eachGroup -->
<col class="page-section" id="eachGroup">
<div class="group-container" style = "height:70%;">
    <div class="group">
        <div class = "form-group">
            <div class = "row">
                <div class = "col-md-3">
                    <img class="img-rounded img-fluid group-image" src = "/media/{{ group.poster }}" style="height:250px; width:200px;"alt=""> 
                </div>
                <div class = "col-md-6" style = "margin-top:4%">
                    <div class="group-panel">
                        <div class="group-heading">
                            <h4>{{ group.name }} ({{ group.usercount }}/{{ group.maxcount }})</h4>
                            <h5 class="subheading">{{ group.festival_name }}</h5>
                            <h5 class="subheading">{{ group.date }}</h5>
                            <h5 class="subheading">{{ group.hashtag }}</h5>
                            <h5 class="subheading">{{ name }}</h5>
                        </div>
                    </div>
                </div>

                <div class = "col-md-3" style = "margin-top: 7%">

                    {% if user.is_authenticated %}

                    {% if groupusers.count < 1%}
                    <a class="btn btn-sm btn-primary js-scroll-trigger btn-register-group" href="apply" >참가하기</a>

                    {% else %}
                    {% for groupuser in groupusers %}
                    {% if groupuser.status == 0 %}
                    <a class="btn btn-sm btn-info js-scroll-trigger btn-register-group" href="#" >대기중..</a>
                    {% elif groupuser.status == 1 %}
                    <a class="btn btn-sm btn-dark js-scroll-trigger btn-register-group" href="#" >가입완료</a>
                    {% elif groupuser.status == 2 %}
                    <a class="btn btn-sm btn-dark js-scroll-trigger btn-register-group" href="#" >가입완료</a>
                    {% endif %}
                    {% endfor %}

                    {% endif %}

                    {% else %}
                    <a class="btn btn-sm btn-primary js-scroll-trigger btn-register-group" href="apply" >참가하기</a>
                    {% endif %}


                </div>
            </div>
            <br><br>

            <div class = "row">

                    <div class="card w-100">
                            <h5 class="card-header">내용</h5>
                            <div class="card-body">
                              <p class="card-text">{{ group.description }}</p>
                              <p class="card-text float-right"><small class="text-muted">본 작성 내용에 대한 책임은 작성자에게 있습니다.</small></p>
                            </div>
                          </div>
            
            </div>
        </div>
    </div>
</div>


  <!-- Footer -->
  <footer id ="footer" class="py-3 bg-dark">
    <div class="container">

      </span>
      <h3>Festival Together</h3>
      <hr class="footerline">

      <div class="footercontents m-0 text-left text-white">

            <p class="company_contents">
            팀원 : 양훈모, 이헤린, 서진원, 박주연 | 주소 : 서울특별시 중구 동국대학교 신공학관<br>
            Festival Together은 최신 페스티벌 정보를 수집하기 위해 노력하고 있으며 정보 제공에 따른 법적 책임을 지지 않습니다.<br>
            </p>
        </div>

      <p class="copyright m-0 text-left text-white">Copyright Festival Together LK Corp. &copy; All rights Reserved</p>
    </div>
  </footer>


<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Contact form JavaScript -->
<script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'js/contact_me.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'js/agency.min.js' %}"></script>

</body>

</html>