{% load staticfiles %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Festival Together</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="./../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/agency.css' %}" rel="stylesheet">
    <link href="./../static/css/agency.css" rel="stylesheet">

</head>

<body id="page-top">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}">Festival Together</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'festival' %}">Festival</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'group' %}">Group</a>
                </li>
                {% if user.is_superuser %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Manage</a>
                    <div class="dropdown-menu">
                        <a class ="dropdown-item" href="{% url 'createFestival' %}" style = "font-family: sans-serif;">festival register</a>
                        <a class ="dropdown-item" href="{% url 'confirmTicket' %}"  style = "font-family: sans-serif;">festival confrim</a>
                    </div>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'mypage' %}">Mypage</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>


<col class="page-section" id="group">
<div class="row" style = "margin: 10% 15% ; height: 100%">
    <div class="col-md-8">
        <div class="row" style=" height: 50%;">
            공지
        </div>
        <div class="row" style=" height: 50%";>
            댓글
        </div>
    </div>
    <div class="col-md-4">
        <!--그룹 가입자 목록 -->
        <div calss="container">
            <div class="card mx-auto w-75" style=" width : 15px; ">
                <h5 class="card-header">
                    그룹 가입자
                </h5>
                <ul class="list-group list-group-flush">
                    {% for groupuser in groupusers %}
                    {% if groupuser.status == 2 %}
                    <li class="list-group-item">{{ groupuser.user_id }}님 (리더)</li>
                    {% elif groupuser.status == 1 %}
                    <li class="list-group-item">{{ groupuser.user_id }}님 </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!--내 등록 그룹-->
        {% if group.leader_id == user.username %}
        <div calss="container">
            <div class="card mx-auto w-75 " style="width: 15px" >
                <h5 class="card-header">
                    그룹 신청 현황
                </h5>
                <form method="POST" action = "{{ group.name }}/confirm">
                    {% csrf_token %}
                    <ul class="list-group list-group-flush">
                        {% for groupuser in groupusers %}
                        {% if groupuser.status == 0 %}
                        <div class = "row">
                            <div class="col-md-8">
                                <li class="list-group-item">{{ groupuser.user_id }}</li>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" id="accept" name="accept" value={{ groupuser.user_id }} class="btn btn-primary btn-sm text-uppercase " style="margin-top: 10%;margin-left: 20%; weight:100px; height: 30px;">ACCEPT</button>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" id="denial" name="denial" value={{ groupuser.user_id }}  class="btn btn-secondary btn-sm text-uppercase " style="margin-top: 10%;weight:100px; height: 30px;">DENIAL</button>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>


</section>


<!-- Footer -->
<footer id ="footer" class="py-3 bg-dark">
    <div class="container">

        </span>
        <h3>Festival Together</h3>
        <hr class="footerline">

        <div class="footercontents m-0 text-left text-white">

            <p class="company_contents">
                팀원 : 양훈모, 이헤린, 서진원, 박주연 | 주소 : 서울특별시 중구 동국대학교 신공학관<br>
                Festival Together은 최신 페스티벌 정보를 수집하기 위해 노력하고 있으며 정보 제공에 따른 법적 책임을 지지 않습니다.<br>
            </p>
        </div>

        <p class="copyright m-0 text-left text-white">Copyright Festival Together LK Corp. &copy; All rights Reserved</p>
    </div>
</footer>



<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Contact form JavaScript -->
<script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'js/contact_me.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'js/agency.min.js' %}"></script>

</body>

