{% load staticfiles %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Festival Together</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/agency.css' %}" rel="stylesheet">


</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Festival Together</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'festival' %}">Festival</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'group' %}">Group</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'mypage' %}">Mypage</a>
                </li>

                <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'login' %}">Login</a>
                    </li> 
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Have Fun With Your Crew!</div>
            <div class="intro-heading text-uppercase">F.G.T</div>

        </div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#top4" >Tell Me More</a>
    </div>
</header>

<!-- Top4 Festival -->
<section class="page-section" id="top4" style ="padding-top  : 40px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 text-center">
                <h2 class="section-heading" style="font-size : 32px;">올해의 추천 Festival TOP4 </h2>
                <br>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
          <span class="fa-stack fa-5x">
            <img class="img-fluid" src = "{% static 'img/top4/top4-1.png' %}"></img>
          </span>
                <h4 class="top4-heading" style ="font-size : 20px;">청춘페스티벌</h4>
                <p class="text-muted">일시 : 2019.02.11~2019.11.11</p>
            </div>
            <div class="col-md-3">
          <span class="fa-stack fa-5x">
             <img class="img-fluid" src = "{% static 'img/top4/top4-2.jpg' %}" ></img>
          </span>
                <h4 class="top4-heading" style ="font-size : 20px;">KASABIA</h4>
                <p class="text-muted">일시 : 2019.02.11~2019.11.11</p>
            </div>
            <div class="col-md-3">
          <span class="fa-stack fa-5x">
             <img class="img-fluid" src = "{% static 'img/top4/top4-3.jpg' %}" ></img>
          </span>
                <h4 class="top4-heading" style ="font-size : 20px;">EDC KOREA</h4>
                <p class="text-muted">일시 : 2019.02.11~2019.11.11</p>
            </div>
            <div class="col-md-3">
          <span class="fa-stack fa-5x">
            <img class="img-fluid" src = "{% static 'img/top4/top4-4.jpg' %}" ></img>
          </span>
                <h4 class="top4-heading" style ="font-size : 20px;">INCHEON PENTAPORT ROCK FESTIVAL</h4>
                <p class="text-muted">일시 : 2019.02.11~2019.11.11</p>
            </div>
        </div>
    </div>
</section>


  <!-- Footer -->
  <footer id ="footer" class="py-3 bg-dark">
    <div class="container">
      
      </span>
      <h3>Festival Together</h3>
      <hr class="footerline">

      <div class="footercontents m-0 text-left text-white">

            <p class="company_contents">
            팀원 : 양훈모, 이헤린, 서진원, 박주연 | 주소 : 서울특별시 중구 동국대학교 신공학관<br> 
            Festival Together은 최신 페스티벌 정보를 수집하기 위해 노력하고 있으며 정보 제공에 따른 법적 책임을 지지 않습니다.<br>
            </p>
        </div>
    
      <p class="copyright m-0 text-left text-white">Copyright Festival Together LK Corp. &copy; All rights Reserved</p>
    </div>
  </footer>




<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Contact form JavaScript -->
<script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'js/contact_me.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'js/agency.min.js' %}"></script>

</body>

</html>
